html, body{
  height:100%;
  background-color: black;
  color:white;


}
@font-face {
    font-family: "apercu-mono";
    src: url("fonts/apercu-mono.eot");
    src: 
    url("fonts/apercu-mono.woff") format("woff"),
    url("fonts/apercu-mono.otf") format("opentype");
}
@font-face {
    font-family: "futura-heavy";
    src: url("fonts/Futura-Heavy.eot");
    src: 
    url("fonts/Futura-Heavy.woff") format("woff"),
    url("fonts/Futura-Heavy.otf") format("opentype");
}
@font-face {
    font-family: "noway-light";
    src: url("fonts/Noway-Light.eot");
    src: 
    url("fonts/Noway-Light.woff") format("woff"),
    url("fonts/Noway-Light.otf") format("opentype");
}
@font-face {
    font-family: "noway-bold";
    src: url("fonts/Noway-Bold.eot");
    src: 
    url("fonts/Noway-Bold.woff") format("woff"),
    url("fonts/Noway-Bold.otf") format("opentype");
}
@font-face {
    font-family: "geomanist-light";
    src: url("fonts/Geomanist-Light.eot");
    src: 
    url("fonts/Geomanist-Light.woff") format("woff"),
    url("fonts/Geomanist-Light.otf") format("opentype");
}

.apercu-mono{
  font-family: 'apercu-mono' !important;
}
.futura-heavy {
  font-family: 'futura-heavy' !important;
}
.noway-light {
  font-family: 'noway-light' !important;
}
.geomanist-light{
  font-family: 'geomanist-light' !important;
}
h2 .changeBodyHeadline{
margin-left:20px;
}
h2.changeheadline{
margin-left:20px;
color:green;
}
.sectionContainer{
    display: flex;
    flex-direction: row;
    width: 500px;
    flex-wrap: wrap;
}
#selectionWrapper{
  width: 200px;
  height: 30px;
  background-color: white;
  margin:20px;
}
select{
 border: none;
 width: 200px;
 height: 30px;
}
#changeFontHeadline,#changeFont {
  font-family: 'noway-bold';
  letter-spacing: 0.1em;
  border:none;
}
h2{
  margin:20px;
  letter-spacing: 0.1em;
  font-size: 1em;
  font-family: 'noway-bold'; 
}

h1{
  font-family: 'apercu-mono';
  padding:20px;
  text-align:center;
  font-size: 3em;
}
.flexWrapper{
  padding:50px;
  display:flex;
  justify-content: space-around;
  flex-wrap:wrap;
}

.block{
  height:350px;
  width:350px;
  margin:10px;
  border: 1px solid;
  position:relative;
}
.block span{
  font-family: 'geomanist-light';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 100;
  font-size: 5em;
}
#scroll-top{
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: darkred;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  
}
/*#scroll-top.active{
  background-color:blue;
-webkit-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
  -moz-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
  -o-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
  transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
 
  -webkit-transition: all 1500ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
  -moz-transition: all 1500ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
  -o-transition: all 1500ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
  transition: all 1500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}*/
